@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Comforter+Brush&family=Josefin+Sans:wght@600&family=Kanit:wght@300&family=Lobster&family=Monoton&family=Mulish:wght@800&family=Patua+One&family=Poppins&family=Press+Start+2P&family=Secular+One&display=swap');

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


#d1 {
  width: 100%;
  height: 25px;
  background-color: rgb(217, 58, 58);
  color: white;
  text-align: center;
}

#d2 {
  width: 100%;
  height: 73px;
  background-color: rgba(182, 103, 103,0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px 0px 25px;
  z-index: 1;
}

#logo a{
  font-family: 'Monoton', cursive;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  font-size: 35px;
  transition: 0.2s ease-in-out;
}

#logo a:hover{
  color: rgb(117, 116, 116);
  
}

button {
  border-radius: 20px;
  height: 30px;
  width: 100px;
  border-color: white;
  background-color: rgb(107, 42, 42);
  border-color: rgb(98, 47, 47);
  color: antiquewhite;
}

button:hover {
  background-color: rgb(37, 37, 37);
  border: rgb(37, 37, 37);
}

#icon {
  display: flex;
  gap: 50px;
}

#icon a {
  color: rgb(56, 55, 55);
}

#link {
  display: flex;
  gap: 20px;
  touch-action: pan-x;
}

#link a {
  text-decoration: none !important;
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.banner {
  width: 100%;
  height: calc(100vh - 98px);
  background: url("./co-fee/nafinia-putra-Kwdp-0pok-I-unsplash.png");
  background-repeat: no-repeat;
  /* opacity: 0.4; */
}


.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24rem;
  color: rgb(235, 240, 240);
  font-family: 'Mulish', sans-serif;
  font-size: x-large;
  padding: 40px;
}
span{
  font-family: 'Secular One', sans-serif;
}
#btn {
  background-color: #FFABE1;
  color: black;
  font-weight: bolder;
  letter-spacing: 3px;
  border-radius: 4px;
  width: 10rem;
  height: 2rem;
  border: none;
  margin-top: 20px;
}

#btn:hover {
  background-color: #C689C6;
  color: aliceblue;
}


.product {
  height: 80vh;
  background: linear-gradient(to bottom, rgba(202, 150, 92,0.4), #ffffff);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.pro-cards {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.product__card {
  height: 30rem;
  width: 16rem;
  border-radius: 5px 80px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__img {
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 20px;
}
.product__img:hover {
  box-shadow: -2px 3px 40px 0px #888888
}
.product__img img {
  width: 300px;
  height: auto;
  border-radius: 15px
}

.product__desc h3 {
  margin-bottom: 10px;
}

.product__desc h3,
p {
  text-align: center;
}


.gallery {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 5px;
  background-color: rgb(213, 213, 213);
  background: linear-gradient(to top, rgba(202, 150, 92,0.4), #ffffff);
}

.gallery__imgs {
  padding: 10px;
  max-width: 600px;
  margin: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
  align-content: center;

}
.gallery__imgs div,img:hover {
  box-shadow: -2px 3px 40px 0px #888888
}
/* Stretch image vertically */
.v-stretch {
  grid-row: span 2;
}

/* Stretch image horizontally */
.h-stretch {
  grid-column: span 2;
}

/* Stretch image vertically and horizontally */
.big-stretch {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery__imgs div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.gallery__desc{
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
  gap: 17px;
}

.gallery__desc h1{
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 900;
}

.gallery__desc p{
  color: #797979;
  width: 600px;
  font-size: 20px;
  text-align: justify;
}

.gallery__desc a {
  text-decoration: none;
  height: -1px;
  width: 170px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 13px;
  border-radius: 30px 10px;
  text-transform: uppercase;
  font-size: 17px;
}

.gallery__desc a:hover{
  background-color: rgb(182, 103, 103);
}

.snacks {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(202, 150, 92,0.4), #ffffff);
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 30px;
}

.snacks::-webkit-scrollbar {
  display: none;
}

.snack-cards {
  display: flex;
  flex-direction: row;
  gap: 5.5rem;
  justify-content: center;
  align-items: center;
}

.snack__card {
  height: 25rem;
  width: 16rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.6s;
  padding: 12px;
}

.snack__card:hover {
  box-shadow: -2px 3px 40px 0px #888888
}

.snack__img {
  margin-bottom: 15px;
}

.snack__img img {
  width: 100%;
  height: 20rem;
  border-radius: 15px
}

.snack__desc h3 {
  margin-bottom: 10px;
}

.get-in-touch {
  /* max-width: 650px;
  margin: 0 auto; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(202, 150, 92,0.4), #ffffff);
}

.get-in-touch .title {
  text-align: center;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 48px;
}

.contact-form {
  width: 40rem;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
  transform: translateY(-24px);
}

.contact-form .label {
  position: absolute;
  left: 30px;
  bottom: 5px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  transition: transform 0.2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
    margin-left: 220px;
    background-color: #000;
    color: #fff;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    width: 10rem;
    cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(182, 103, 103);
}

.row {
  margin: -20px 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}

.row .col.x-50 {
  width: 50%;
}

.row .col.x-100 {
  width: 100%;
}

footer {
  height: 11.9rem;
  background-color: rgb(182, 103, 103);
  color: #DFD3C3;
}

.mainfooter {
  display: flex;
  justify-content: space-evenly;
  padding: 22px 0 10px 0;
}

.company p {
  font-size: 15px;
  width: 15rem;
  text-align: left;
  margin-top: 10px;
}

.qlinks h3 {
  margin-bottom: 10px;
}

.qlinks a {
  text-decoration: none;
  color: rgb(96, 14, 14);
  font-size: 16px;
}

.qlinks a:hover {
  color: rgb(233, 233, 240);
  text-decoration: underline;
}

.getstarted {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.getstarted p {
  font-size: 15px;
  width: 15rem;
  text-align: left;
  margin: 10px 0;
}

.mail {
  margin: 10px 0;
}

.mail a {
  text-decoration: none;
  color: rgb(96, 14, 14);
  font-size: 16px;
}

.mail a:hover {
  color: rgb(233, 233, 240);
  text-decoration: underline;
}

.fcont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.social {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.social a {
  text-decoration: none;
  color: #0e0e0e;
  /* font-size: 16px; */
}

.social a:hover {
  color: #fff;
}

.copyright {
  text-align: center;
}